  
      body {
          background-color: #826d8c
        }

      h1 {
        color: #000000;
        text-decoration: underline;
        text-align: center
        }

        p {
          text-align: center;
        }
